{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Portfolio{% if info.title %} | {{ info.title }}{% endif %}{% endblock title %}
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'nafir/css/home.css' %}">
{% endblock stylesheet %}
{% block content %}
<header class="header-wrap header-bg">
	<div class="row">
		<div class="col-12">
			{% include 'pages/snippets/header.html' %}
		</div>
	</div>
</header>
<main class="content-wrap first-bg">
	<div class="row text-center">
		<div class="col-12">
			<div class="portfolio-wrap d-block">
				{% if single %}
				{% include 'pages/snippets/home_portfolio.html' with info=info st=st gal_im=gal_im single=single %}
				{% else %}
				{% include 'pages/snippets/home_portfolio.html' with info=info sts=sts %}
				{% endif %}
			</div>
		</div>
	</div>
</main>
<footer class="footer-wrap footer-bg py-5">
	<div class="row">
		<div class="col-12">
			{% include 'pages/snippets/footer.html' with info=info so_li=so_li %}
		</div>
	</div>
</footer>
{% endblock content %}
